html
  include includes/head.pug
  head
  body
    .position-relative.overflow-hidden.p-3.text-center.bg-light
        .col-md-8.p-lg-5.mx-auto.my-5
            h1.display-8.fw-normal Rabobank Ethereum Real Estate
            p.lead.fw-normal
            | Acquire shares of real estate properties in Utrecht through this platform.
            br
            br
            a.btn.btn-outline-secondary(href='login') Log in
.container
  h4.mt-5 Questions?
  p.lead
    | contact@ryanshahine.me

